@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
.App{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.quote{
  background-color: yellow;
  background-size: cover;
  width: 450px;
  height: 320px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex{
  display: flex;
}
.quote h2{
  font-size: 2em;
  font-family:  'Lobster', sans-serif;;
}
.quote small{
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;;
}
.btn{
  display: block;
  border: 2px solid #008CBA;
  background: transparent;
  padding: 10px 15px;
  color: #008CBA;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 1s, color 1s,;
}
.btn:hover{
  background: #008CBA;
  color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), o 6px 20px 0 rgba(0,0,0,0.19);
}